@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0}
img{vertical-align:top; border:none;}
a{text-decoration:none; color:#000;}
li{list-style:none;}
input,textarea{border:none; outline:none; background:none; }
textarea{resize:none;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:''; display:block; clear:both; }
body{font-size:12px;}
.w{width:1000px; margin:0 auto; border:1px solid #000;}