@charset "utf-8";
/* CSS Document */
		    	canvas{position:absolute; top:0; left:0; z-index:100;}  /*屏保*/
		body{ color:#fff; background:#000; height:100%; }
		.wrapper{background:black url(../img/nav1.jpg) no-repeat left top;}
		header{height:72px; position:relative; padding-bottom:80px;}
		/*header部分*/
		header h1{width:154px; height:72px; background:url(../img/logo.png); }
		header ul{width:720px;}
		header li{width:120px; height:72px; line-height:72px; font:bold 24px/72px 'microsoft yahei'; text-align:center; float:left;cursor:pointer;}
		header a{color:#fff; position:relative;}
		header ol{position:absolute; top:0px; right:0; height:72px;}
		header ol li{transition:1s all ease; opacity:0;  }
		header li:hover{transform:translateY(40px); opacity:1; color:rgb(255,255,0);}
		/*nav部分*/
		nav{height:375px; padding-bottom:50px;}
		nav ul, nav ol{width:500px; height:375px; position:relative; margin:0 auto;}
		nav ul li,nav ol li{position:absolute; top:0; left:0;transition:3s all ease; transform:perspective(800px) translateX(0px) rotateY(0deg);}
		nav .l1{transform:perspective(800px) translateX(-200px) rotateY(45deg);z-index:2;}
		nav .l2{transform:perspective(800px) translateX(-300px) rotateY(45deg);}
		nav .cur{z-index:3;}
		nav .r1{transform:perspective(800px) translateX(200px) rotateY(-45deg);z-index:2;}
		nav .r2{transform:perspective(800px) translateX(300px) rotateY(-45deg);}
		nav ol{width:500px; height:40px; position:relative; margin:0 auto; text-align:center;}
		nav ol li{width:100%; heigth:100%;opacity:0; font:bold 24px/50px '楷体'; }
		nav ol .cur{opacity:1; color:red;}
		/*section*/
		section{position:relative;}
		/*播放器*/
		#music{width:540px; height:300px; border:1px solid #000; font-size:14px; background:url("../img/2113.png"); float:left;}
		#music .left{width:140px; height:300px; float:left; position:relative;}
		#music .left .rotate {width:120px; height:120px; border-radius:50%; background:url("../img/035.png"); position:absolute; top:10px; left:10px;  transform:rotate(0deg) ;text-align:center;}
		#music .left .rotate_d {width:120px; height:120px; border-radius:50%;  position:absolute; top:10px; left:10px;  text-align:center;}
		#music .left .start{width:30px; height:30px; border:2px solid #fff; border-radius:50%; position:absolute; top:50%; left:50%; margin-top:-17px; margin-left:-17px; background:url("../img/001.png") no-repeat center center; transfrom:rotate(0deg);}
		#music .right{float:left; color:yellow;}

		h2{padding-top:5px;}
		h2 a{color:orange; line-height:30px; }
		.right_1{line-height:30px; }
		.right_1 .span_1{margin-left:15px; }
		.right_2{padding-top:8px; }
		.right_2 .span_2{float:left; width:22px; height:22px; border-radius:50%; border:1px solid yellow; background:url("../img/004.png") no-repeat center center;}
		.right_2 .meter{width:200px; height:6px; background:#ccc; float:left; margin:10px 0 0 10px; position:relative; }
		.right_2 .meter .meter_s{width:0; height:100%; position:absolute; top:0; left:0; background:blue;}
		.right_2 .meter .bar{width:10px; height:10px; border:1px solid #ccc; border-radius:50%; position:absolute; top:-3px; left:-5px; background:red;}
		.right_2 time{margin-left:8px; margin-right:8px; float:left; line-height:24px; font-size:12px; }
		.right_2 .volume{font-style:normal; float:left; width:14px; height:14px; margin-top:6px; position:relative; }
		.right_2 .volume .volume_switch{width:10px; height:100%; position:absolute; top:0; left:0;  background:url("../img/005.png") no-repeat;}
		.right_2 .volume .volume_meter{height:50px; width:4px; position:absolute; top:-55px; left:5px; background:red; -webkit-music-shadow:0 0 20px #fff; display:none;}
		
		.right_2 .volume .bar2{width:10px; height:4px; border:1px solid #000; position:absolute; top:47px; left:-4px;}
		.right_2 .play{float:left; width:14px; height:18px;margin-left:20px;background-color:#000; background-image:url("../img/play.gif");}
		
		@keyframes move{
			from {
				transform:rotate(0deg);
			}
			to{
				transform:rotate(360deg);
			}
		}
		@keyframes changeWidth{
			from {
				width:0;
			}
			to{
				width:200px;
			}
		}
		/*时钟部分*/
		section .clock{width:260px; height:260px; border:20px solid #ab78f0; border-radius:50%; position:relative; background:skyblue;}
		section .clock span{position:absolute; top:50%; left:50%; border-radius:50% 50% 0 0;}
		section .clock .s{width:10px; height:130px; background:red; margin:-110px 0 0 -5px; transform-origin:center 110px;}
		section .clock .m{width:14px; height:100px; background:orange; margin:-80px 0 0 -7px;transform-origin:center 80px;}
		section .clock .h{width:18px; height:70px; background:green; margin:-50px 0 0 -9px;transform-origin:center 50px;}
		section .clock .cap{border-radius:50%; background:#000; width:24px; height:24px; margin:-12px 0 0 -12px;}
		/*link*/
		section .link{padding-top:45px; margin-right:-10px;}
		section .link a{display:block; color:#fff; margin:45px 0; font-size:13px; line-height:80px;}
		section .link img{width:80px; height:80px;}
		/*footer*/
		footer{height:60px; text-align:center; line-height:60px; }
		footer a,footer span{float:left; color:#fff; font-size:30px; width:200px; transition:1s all ease;}
		footer span{color:#0f0;}
		footer a:hover{transform:scale(1.5); color:#ff0;}
